body {
	margin: 0;
	padding: 0;
	width:100%;
	background: url('images/diamond2.png') top left;
	height: 100%;
}
header {
	width: 100%;
	margin: 0;
	padding: 0;
}
.universal_wrap {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
}
a:hover{
    color:blue;
}
#logo {
	float: left;
	margin-right: 20px;
	margin-top:100px;
	

}
.logo_img {
	overflow: hidden;
	width: 90px;
}
#brand_name {
	float: left;
	text-align: left;
	margin-top: 0px;
}
#brand_name > h2 {
	font-size: 12px;
	margin-bottom:30px;
	padding-bottom:50px;
	clear:both;
}
#wrapper {
	width: 960px;
	margin:0 auto;
}
section > ul {
	list-style-type: none;
}
b {
	color: gray;
}
.copyright > p {
  color: black;
    font-family: "contrail one";
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
    text-align: center
}
footer {

	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom:20px;
	background-color: rgba(250, 250, 250, .1);
}

.footer_ul {
	margin: 0 auto;
	/*padding: 20px 70px 20px 50px;*/
	list-style-type: none;
}
.footer_ul > li {
	font-family: "Contrail one";
	font-size: 22px;
	font-weight: 100;
	margin: 0;
	display: inline;
	line-height: 18px;
	padding: 15px 45px 5px 45px;
}