

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}
#wrapper {
	width: 100%;
	margin:0 auto;
	overflow:hidden;
}
body {
	margin: 0 auto;
	padding: 0;
	width:100%;
	background: url('images/diamond2.png') top left;
	height: 100%;

}
header {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:rgba(255,255,255,.5);
}
.universal_wrap {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
#nav_bar {
	margin: 0;
	width: 100%;
	height: 40px;
	background-color: #282828;
	border-bottom: 3px solid #cccccc;
	padding-top: 10px;
	padding-left: 10px;
	overflow:hidden;
}
nav {
	margin: 0;
	text-align: center;
	list-style-type: none;
	width: 80%;
	height: 40px;
	
}
nav > ul {

}

nav > ul > li {
	display: inline;
}
nav > ul > li > a {
	font-family: "Helvetica Neue";
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
	/*display: inline;*/
	padding: 15px 20px;
	text-decoration:none;
	
}
nav > ul > li > a:hover {
	color: #3781ba;
}

section {
	clear:both;
	width:55%;
	height:100%;
	float:right;
	font-family:"helvetica neue";
	margin: 0 auto;
	overflow:hidden;
	background-color:rgba(255,255,255,.3);
	padding:10px 10px 10px 50px;
	
}
section > p {
	padding-top:6px;
	font-size:1.4em;
	border-bottom:.1em solid #282828;

}
iframe {
	overflow:hidden;
	float:right;
	
	
}
.facebook{
	/*float:right;*/
	overflow:hidden;
		/*background-color:rgba(255,255,255,.5);*/
		margin-top:-60px;
	/*background-color:rgba(255,255,255,.2);*/
	width:100%;


}
section > h1 {
	padding:10px;
	border-bottom:.1em solid #282828;
}
aside{
	margin:0;
	padding:0;
	overflow:hidden;
	width:40%;
	height:100%;
	padding:10px;
	/*background-color:rgba(0,0,0,.3);*/

}
aside > img{
	width:100%;
	/*padding:10%;*/
	border: .3em solid #000000;
	margin-bottom:0;
	padding-bottom:0;
	
}
#logo {
	float: left;
	margin-top:3em;
	width:30%;
	overflow:hidden;
	

}
.logo_img {
	/*width: 40%;*/

}
#brand_name {
	/*float: left;*/
	margin:0;
	margin-top: 100px;
	font-family:"contrail one";
	padding:0;
	
	
}
#brand_name > h1 {
	font-weight:100;
	font-size:3em;
}

.info{
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #282828;
	border-bottom: 3px solid #cccccc;
	padding-top: 10px;
	padding-left: 1em;
	overflow:hidden;
}
.info > ul {
	list-style-type: none;
	margin-left:50px;
	color:white;


}
.info >ul>li {
	padding:5px;
	font-family:"Arial Narrow";
}
b {
	color: gray;
}
.copyright > p {
  color: black;
    font-family: "contrail one";
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
    text-align: center
}
.bottomBar{
		margin: 0;
	width: 100%;
	height: 100%;
	background-color: #282828;
	border-top: 3px solid #cccccc;
	padding-top: 10px;
	padding-left: 1em;
	overflow:hidden;
}
footer {

	width: 100%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom:20px;
	background-color:rgba(255,255,255,.5);
	text-align:center;
	
}
.footer_ul  > li > a:hover {
	color: #3781ba;
}
.footer_ul > li> a {
	text-decoration:none;
	color:#000000;
}

.footer_ul {
	margin: 0 auto;
	/*padding: 20px 70px 20px 50px;*/
	list-style-type: none;

}
.footer_ul > li {
	text-decoration:none;
	font-family: "Contrail one";
	font-size: 18px;
	font-weight: 100;
	display: inline;
	line-height: 18px;
}