

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
}
#wrapper {
	width: 100%;
	margin:0 auto;
	overflow:hidden;
	/*background-color:rgba(0,0,0,.1);*/
}
body {
	margin: 0 auto;
	padding: 0;
	width:100%;
	background: url('images/diamond2.png') top left;
	height: 100%;

}
header {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color:rgba(255,255,255,.3);
}
.universal_wrap {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
#nav_bar {
	margin: 0;
	width: 100%;
	height: 40px;
	background-color: #282828;
	border-bottom: 3px solid #cccccc;
	padding-top: 10px;
	padding-left: 10px;
	overflow:hidden;
}
nav {
	margin: 0;
	text-align: center;
	list-style-type: none;
	width: 80%;
	height: 40px;
	
}
nav > ul {

}

nav > ul > li {
	display: inline;
}
nav > ul > li > a {
	font-family: "Helvetica Neue";
	font-size: 18px;
	line-height: 18px;
	color: #ffffff;
	/*display: inline;*/
	padding: 15px 20px;
	text-decoration:none;
	
}
nav > ul > li > a:hover {
	color: #3781ba;
}
nav > ul > li > a:active {
	color: #3781ba;
}
section {
	/*clear:both;*/
	width:50%;
	/*height:100%;*/
	float:left;
	font-family:"helvetica neue";
	margin: 0 auto;
	overflow:hidden;
	background-color:rgba(255,255,255,.3);
	padding:10px 10px 10px 20px;
	
}
section > p {
	padding-top:6px;
	font-size:1em;
	border-bottom:.1em solid #282828;

}
iframe {
	overflow:hidden;
	float:right;
	
	
}
.facebook{
	/*float:right;*/
	overflow:hidden;
		/*background-color:rgba(255,255,255,.5);*/
		margin-top:-60px;
	/*background-color:rgba(255,255,255,.2);*/
	width:100%;


}
section > h1 {
	padding:10px;
	border-bottom:.1em solid #282828;
}
aside{
	/*clear:both;*/
	margin:0;
	padding:10px;
	float:left;
	overflow:hidden;
	width:23%;
	/*height:100%;*/
	/*background-color:rgba(0,0,0,.3);*/

}
aside > img{
	width:100%;
	/*padding:10%;*/
	border: .3em solid #000000;
	margin-bottom:0;
	padding-bottom:0;
	
}
#rightBar{
	width:25%;
	/*clear:both;*/
	height:500px;
	background-color:rgba(255,255,255,.3);
	float:right;
	overflow:hidden;
}
#logo {
	float: left;
	margin-top:1em;
	width:30%;
	/*overflow:hidden;*/
	

}
#logo > img {
	/*width: 200%;*/

}
#brand_name {
	/*float: left;*/
	margin:0;
	margin-top: 100px;
	font-family:"contrail one";
	padding:0;
	
	
}
#brand_name > h1 {
	font-weight:100;
	font-size:3em;
}

.info{
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #282828;
	border-bottom: 3px solid #cccccc;
	padding-top: 10px;
	padding-left: 1em;
	overflow:hidden;
}
.info > ul {
	list-style-type: none;
	margin-left:50px;
	color:white;


}
.info >ul>li {
	padding:5px;
	font-family:"Arial Narrow";
}
b {
	color: gray;
}
.copyright > p {
  color: black;
    font-family: "contrail one";
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
    text-align: center
}
.bottomBar{
		margin: 0;
	width: 100%;
	height: 100%;
	background-color: #282828;
	border-top: 3px solid #cccccc;
	padding-top: 10px;
	padding-left: 1em;
	overflow:hidden;
}
footer {

	width: 100%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom:20px;
	background-color:rgba(255,255,255,.5);
	text-align:center;
	
}
.footer_ul  > li > a:hover {
	color: #3781ba;
}
.footer_ul > li> a {
	text-decoration:none;
	color:#000000;
}

.footer_ul {
	margin: 0 auto;
	/*padding: 20px 70px 20px 50px;*/
	list-style-type: none;

}
.footer_ul > li {
	text-decoration:none;
	font-family: "Contrail one";
	font-size: 18px;
	font-weight: 100;
	display: inline;
	line-height: 18px;
		padding: 20px;

}
#content { background-image:url(images/html5-forms.png); 
	background-repeat:no-repeat; 
	background-position: center -25px;
	padding-top: 150px; 
	overflow: hidden; }
form { 
	width: 400px; 
	background-color: #fcfcfc;
	background-color: rgba(0,0,0,0.5);  
	padding: 15px 25px; 
	margin: 0 auto; 
	color: #fff;
	-moz-border-radius:  20px; 
	-webkit-border-radius:  20px; 
	border-radius: 20px; 
	overflow: hidden; 
	}
label { 
	clear:  both; 
	display: block; 
	text-shadow: 0px -1px 0px #000; 
	text-shadow: 0 -1px rgba(0,0,0,0.5);  
	font-family: "kaffeesatz-1","kaffeesatz-2",sans-serif; 
	}
input { 
	margin-bottom: 25px; 
	}
sup { 
	color: #f00; 
	}
input { font-size:18px; 
	border: 2px solid #999; 
	padding: 6px 8px; 
	background-color: #fff; 
	-webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2); 
	-moz-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2); 
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.2); 
	color: #696969; width: 375px;  
	}
input:focus { 
	border: 2px solid #6c6; 
	-webkit-box-shadow:none; 
	-moz-box-shadow: none; 
	box-shadow: none; 
	}
input[type=date], input[type=number], input[type=submit] { 
	-moz-border-radius:  0px; 
	-webkit-border-radius:  0px; 
	border-radius:  0px; 
	width: auto; 
	}
input[type=submit] { 
	margin-top:10px;
	}
input:invalid {  
	border: 2px red solid; 
	}
input.awesome{ 
	background: #fc9200 url(../images/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none; 
	font-weight: bold; 
	line-height: 1; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px; 
	-moz-box-shadow: 0 1px 3px #999; 
	-webkit-box-shadow: 0 1px 3px #999; 
	box-shadow: 0 1px 3px #999; 
	text-shadow: 0 -1px 1px #222; 
	border: none; 
	position: relative; 
	cursor: pointer; 
	float:right; 
	font-size: 28px; 
	font-family: "kaffeesatz-1","kaffeesatz-2",sans-serif; 
	}
input.awesome:hover	{ 
	background-color: #ffb515; 
	}
.small { 
	font-size:10px; 
	margin: 15px 0; 
	color: #fff; 
	text-shadow: 0px -1px 0px #000; 
	text-shadow: 0 -1px rgba(0,0,0,0.5);
}