/*
 Responsive 996px grid system ~ Style CSS.
 Copyright 2013, Josh Cope
 */

/* =============================================================================
 Site Styles
 ========================================================================== */

/* =============================================================================
 Page Styles
 ========================================================================== */
 body{
      margin: 0 auto;     
      background:url(../images/backgroundTextureLight.jpg) no-repeat;
      height:100%;
      width:100%;
      
     
 
 }
 .cont{
     background:url(../images/blackbox.jpg);
     height:850px;
 }
 .leftacc{
overflow:hidden;
 }
 .calls{
     width:500px;
 }
 #container{
     background:url(../images/lakePhoto.jpg) no-repeat;
     width:1024px;
 }
 #home {
     margin: 0 auto;     
      background:url(../images/backgroundTexture.jpg) no-repeat;
      height:100%;
      width:100%;
  }
 a:hover {
     color:blue;
 }
 #contactText {
     
    font-size: 17px;
    font-family: 'FrankGothX',arial,helvetica;
    color: rgb(255, 255, 255);
    width: 205px;
    position: absolute;
    top: 302px;
    left: 450px;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    }
 .blackBox1{
     height:810px;
     position:absolute;
     width:960px;
 }
 
#saying{
    font-size:30px;
     font-family:Helvetica;
     color:#dcada0;
     font-weight:100;
     padding:0;
     margin:0;
     margin-top:700px;
     margin-bottom:40px;
     text-align:center;
   }
.floorplan{
    color:white;
    height:900px;
}
.
#browse {
    border-top:1px solid white;

}
.blackBox{
    position:absolute;
    height:790px;
    width:966px;
    
}
#floorPic{
    margin-left:25px;
}
h1{
    padding:0;
    margin:0;
}
.icons {
    width:30px;
    padding-left:10px;
    margin:0;
}
#lake {
    position:absolute;
    width:996px;
    display:block;
    overflow:hidden;
}
.logo {
}
.heading{
    padding-top:30px;
     font-size:45px;
    font-family: 'Antic Didone', serif;
 }
 #homePic{
     margin: 0 auto;
 }
img.homebar{
    display:block;
    overflow:hidden;
    margin-top:16em;
    width:996px;
    
 }
 .otherHeading{
     color:#d6b4aa;
     padding-top:50px;
     font-size:74px;
    font-family: 'EB Garamond', serif;
 }
 .otherPages li a {
     color:white;
 }
 ul{
     text-align:center;    
 }
 footer{
     display:inline;
     margin-bottom:10px
     horizontal:center;
     padding-top:10px;
     padding-left:13em; }
 @font-face
{
font-family: myFirstFont;
src: url(Formata.otc);
}
 .footerIcon {
     padding-left:50px;
 }
 .social{
     padding:0;
     margin:0;
     display:inline;
     padding-top:30px;
     vertical-align:middle;
     margin-left:50px;
 }
 .gallerySocial{
     display:inline;
     margin-bottom:100px;
     
 }
.ui-accordion .ui-accordion-header{
     width:300px;
 }
li{
    padding-left:20px;
    text-decoration:none;
    display:inline;
    font-family:"myFirstFont";
    font-size:20px;
}
 .footerwriting{
     color:white;
     font-family:Helvetica;
    display:inline;
     font-size:16px;
     padding-left:40px;
 }
 .features{
     margin:0;
     padding:0;
     background-color:gray;
     border:1px solid black;
     text-align:center;
     color:black;
     font-family:"Helvetica";
     width:100%;
 }
header {
}
section{
}
#nav_gallery {
    width: 80px;
}
#nav_luxuries {
    width: 90px;
}
#nav_tour {
    width: 100px;
}
#nav_locations {
    width: 90px;
}
#nav_floorplans {
    width: 100px;
}
#nav_contact {
    width: 70px;
}
#nav_reserve {
    width: 130px;
}
textarea {
    width: 26em;
    height: 12em;
}
a {
    color:black;
    text-decoration: none;
    font-size: 18px;
}
a:hover {
    color:blue;
}

/* =============================================================================
 Media Queries
 ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
    .heading{
        font-size:54px;
    }
    
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    .logo{
        width:100px;
    }
    .heading{
        font-size:33px;
    }
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
}

/* =============================================================================
 Font-Face
 ========================================================================== */
/* This is the proper syntax for an @font-face file

 /* @font-face {
 font-family: 'FontName';
 src: url('../fonts/FontName.eot');
 src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
 url('../fonts/FontName.woff') format('woff'),
 url('../fonts/FontName.ttf') format('truetype'),
 url('../fonts/FontName.svg#FontName') format('svg');
 font-weight: normal;
 font-style: normal; }
 */